.kanjiInfo {
  display: block;
  margin: auto;
  max-width: 1900px;
  background-color: #2c2c2c;
  padding: 10px;
  color: #8fda97;
}

.kanji-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.kanji-card {
  flex: 0 0 calc(0% - 10px);
  min-width: 160px;
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.kanji-char {
  font-family: BIZ UDGothic;
  font-size: 30px;
  text-align: center;
  padding: 5px 0;
}

.kanji-meaning {
  font-size: 13px;
  text-align: center;
  padding: 3px 0;
  margin-bottom: 5px;
}

.kanji-readings {
  font-size: 16px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.slug {
  background-color: #000;
  border-radius: 6px;
  padding: 3px 8px;
  font-weight: bold;
}

.meaning {
  color: #fff;
  font-weight: 600;
}

.jlpt {
  background-color: #447a48;
  border-radius: 4px;
  padding: 0px 4px;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  margin-left: 3px;
}

a {
  text-decoration: none;
  color: #49a7de;
}

.nematomas {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .kanji-card {
    flex: 0 0 calc(33.33% - 10px);
  }
}

@media (max-width: 480px) {
  .kanji-card {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 320px) {
  .kanji-card {
    flex: 0 0 100%;
  }
}
